body,
h4 {
	margin: 0;
	font-family: "Tenorite", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #282a36 !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.navContainer {
	display: flex;
	width: fit-content;
	align-items: center;
	align-content: center;
	padding: 0.5rem;
	background-color: #fafafa;
	border-bottom: 1px solid #eaeaea;
}

p,
li,
a {
	font-family: "Tenorite";
	text-align: justify;
	font-size: 1.2rem;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
	text-align: center;
	font-size: 2.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

p,
li,
a,
h1,
h2,
h3,
h4 {
	color: #ffffff;
}

a {
	color: hotpink !important;
	font-weight: bold;
}

nav {
	background-color: #21222c !important;
}

#navbarbutton {
	background-color: hotpink !important;
}

.linkcard {
	background-color: #282a36 !important;
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	height: 90%;
	border-color: hotpink !important;
}

.mainCard {
	background-color: #282a36 !important;
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	height: 90%;
}

a:hover {
	color: white !important;
}

#text {
	color: white;
}

icon.material-icons-round {
	align-items: center;
	justify-content: center;
	color: hotpink;
}
div.card-footer {
	background-color: #282a36;
	display: flex;
	align-items: center;
	justify-content: center;
}

.refcol {
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
